<!-- HEADER -->
<header class="header" style="background: #999">
  <div class="wrapper">
    <h1 class="logo-name"><a class="logo-link" href="#" title="{{ site.conf.name }}">{{ site.conf.name }}</a></h1>
    <h2 class="tagline">{{ site.conf.date }}, {{ site.conf.venue }}, {{ site.conf.city }}</h2>
    <div class="call-action-area">
      <span class="price">{{ site.conf.price }}</span> 
       <a href="{{site.subscribe_url}}" class="call-action-link" title="{{site.subscribe_text}}">{{site.subscribe_text}}</a>
    </div>
  </div>
</header>
<!--  / HEADER -->

<hr />