{% if site.sections.speakers %}

  <!-- SPEAKERS -->
  <section class="speakers" id="speakers">

    <h2 class="section-title">{{site.speakers_section.title}}</h2>

    <ul class="speakers-list">
    {% for speaker in site.schedule sort:'name' %}
      {% if speaker.presentation %}
        <li class="speakers-item">
          <span class="speaker-photo"><img class="photo" src="{{ speaker.photo }}" alt="{{ speaker.name }}" /></span>

          <h3 class="speech-title">
              <span> {{ speaker.name }}</span>
          </h3>

          <h3 class="speakers-name">{{ speaker.company }}</h3>
          <p class="speakers-bio">{{ speaker.bio }}</p>
        </li>
      {% endif %}
    {% endfor %}
    </ul>

  </section>
  <!-- / SPEAKERS -->

{% endif %}